<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Samochód</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
  <h1>Samochód</h1>
    <table>
        <tr>
            <th>Id</th><th>Marka</th><th>Model</th><th>Kolor</th>
        </tr>
        <tr>
            <td th:text="${car.getId()}"></td><td th:text="${car.getMark()}"></td><td th:text="${car.getModel()}"></td><td th:text="${car.getColor()}"></td>
        </tr>
    </table>
</body>
</html>
