<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista samochodów</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
    <h1>Lista samochodów</h1>
    <table>
        <tr>
            <th>Id</th><th>Marka</th><th>Model</th><th>Kolor</th>
        </tr>
        <tr th:each="car: ${cars}">
                <td th:text="${car.id}"></td>
                <td th:text="${car.mark}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.color}"></td>
                <td><a th:href="@{/cars/{id}(id=${car.id})}">Pokaż</a></td>
        </tr>
    </table>
    <form th:action="@{/add-car}" th:object="${newCar}" method="post">
        <table>
            <tr>
                <td>Marka:</td><td><input type="text" th:field="*{mark}"></td>
            </tr>
            <tr>
                <td>Model:</td><td><input type="text" th:field="*{model}"></td>
            </tr>
            <tr>
                <td>Kolor:</td><td><input type="text" th:field="*{color}"></td>
            </tr>
            <tr>
                <td></td><td><input type="submit" value="Dodaj samochód"></td>
            </tr>
        </table>
    </form>
</body>
</html>
